﻿@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Users list</h1>

<table class="table table-borderless" style="background-color: rgba(0, 0, 0, 0.6);">
    <thead>
    <thead>
        <tr>
            <th><b>User Name</b></th>
            <th><b>E-mail</b></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Id == 1)
                    {
                        <b style="font-size: large;color:crimson">@Html.DisplayFor(modelItem => item.Name)</b>
                    }
                    else
                    {
                        <b style="font-size:large;color:white">@Html.DisplayFor(modelItem => item.Name)</b>
                    }
                </td>
                <td>
                    @if (item.Id == 1)
                    {
                        <b style="font-size:large;color:crimson">@Html.DisplayFor(modelItem => item.Email)</b>
                    }
                    else
                    {
                        <b style="font-size: large;color:white">@Html.DisplayFor(modelItem => item.Email)</b>
                    }
                </td>
                <td>
                    @if (item.IsDeleted == false & item.Id != 1)
                    {
                        <a asp-controller="Admin" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success" role="button">Edit User</a>
                        <a asp-controller="Admin" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"  role="button">Delete User</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
