﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
#about {
    padding-bottom: 10px;
}

header {
    background-color: rgba(0, 0, 0, 0.6);
}

.table {
    color: orange;
    border: none;
    border-width: 0px;
}

    .table.border-top {
        border: none;
    }

.td {
    border: none;
}

.th {
    border: none;
}

placeholder {
    color: red;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
}

:-ms-input-placeholder { /* Microsoft Edge */
    color: red;
}

#search-input {
    background-color: transparent;
    border-color: orange;
    color: orange;
    outline-color: blue;
}

#SearchBy {
    background-color: transparent;
    color: orange;
    border-color: orange;
    text-emphasis-color: purple;
}

#number1, #number2, #number3, #number4, #number5 {
    background-color: transparent !important;
    color: orange;
    text-decoration-color: orange;
    text-emphasis-color: orange;
}

.field {
    background-color: transparent !important;
    color: orange !important;
    text-decoration-color: orange;
    text-emphasis-color: orange !important;
}

input.field:-webkit-autofill,
input.field:-webkit-autofill:hover,
input.field:-webkit-autofill:focus,
input.field:-webkit-autofill:active,
input:-internal-autofill-selected {
    background-color: black !important;
    color: orange !important;
    -webkit-box-shadow: 0 0 0px 1000px black inset;
    -webkit-text-fill-color: orange;
}

.rcorners {
    border-radius: 15px 100px 50px 100px;
    padding: 20px;
}

.container {
    color: orange;
    background-color: transparent;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    color: orange;
    word-break: break-all;
}
/* Provide sufficient contrast against white background */
a {
    color: orange;
    font-size: medium;
}

.navbar-dark .navbar-brand {
    color: orange;
    font-size: large;
}

.navbar-dark .navbar-nav {
    color: orange;
    font-size: large;
}

    .navbar-dark .navbar-nav .nav-link {
        color: orange;
        font-size: x-large;
    }

.btn-primary {
    color: orange;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: orange;
    background-color: #1b6ec2;
    font-size: large;
    /*//border-color: #1861ac;*/
}

.disabled {
    color: orange !important;
    pointer-events: none;
    cursor: default;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: none;
}

.border-bottom {
    border-bottom: none;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url("../images/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.header {
    background: #141414;
}

/* Additional
-------------------------------------------------- */
.gg-play-button-o {
    color: orange;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 20px
}

    .gg-play-button-o::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 0;
        height: 10px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 6px solid;
        top: 4px;
        left: 7px
    }

a:hover {
    text-decoration: underline;
    color: gainsboro;
}

.gg-readme {
    color: orange;
    display: block;
    position: relative;
    box-sizing: border-box;
    transform: scale(var(--ggs,1));
    width: 2px;
    height: 17px;
    border-bottom: 4px solid;
    border-radius: 4px
}

    .gg-readme::after,
    .gg-readme::before {
        content: "";
        display: block;
        position: absolute;
        box-sizing: border-box;
        width: 8px;
        height: 12px;
        box-shadow: 0 0 0 2px;
        border-radius: 1px;
        bottom: -1px;
        background: linear-gradient(to left, currentColor 4px,transparent 0) no-repeat center 5px/4px 2px, linear-gradient(to left, currentColor 4px,transparent 0) no-repeat center 2px/4px 2px, linear-gradient(to left, currentColor 4px,transparent 0) no-repeat center 8px/4px 2px
    }

    .gg-readme::before {
        border-top-right-radius: 3px;
        left: -8px
    }

    .gg-readme::after {
        border-top-left-radius: 3px;
        right: -8px
    }

.pagination {
    display: inline-block;
}

    .pagination a {
        color: orange;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: none;
    }

        .pagination a.active {
            color: chocolate;
            border: none;
        }

        .pagination a:hover:not(.active) {
            background-color: burlywood;
        }
