﻿@model IEnumerable<PlaylistViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Playlists</h1>
<br />
<link rel="stylesheet" href="~/css/paging.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@using (Html.BeginForm("Filter", "Playlist", FormMethod.Get))
{
    <div class="input-group">
        <form asp-controller="Playlist" asp-action="Filter">
            <select id="SearchBy" name=criteria>
                <option value="name">Name</option>
                <option value="genre">Genre</option>
                <option value="duration">Duration</option>
            </select>
            <input id="search-input" type="text" name="input" class="form-control" placeholder="Search . . .">
            @*<input type="submit" id="searchBtn" value="Search" />*@
        </form>
    </div>
}
<br />
<table class="table table-borderless" style="background-color: rgba(0, 2, 0, 0.6);">
    <thead>
        <tr>
            <th><b>Title</b></th>
            <th><b>Average Rank</b></th>
            <th><b>Total Playtime</b></th>
            <th><b>Genres</b></th>
            <th><center><b>Details</b></center></th>
            <th><center><b>Play</b></center></th>
            @if (User.IsInRole("Admin"))
            {
                <th><center><b>Edit</b></center></th>
                <th><center><b>Delete</b></center></th>
            }
        </tr>
    </thead>
    <tbody id="SearchResult">
    </tbody>
    <tbody id="DataSearhing">
        @foreach (var item in Model)
        {
            <tr style="border: 0 none;">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AverageRank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalDuration) mins
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genres)
                </td>
                <td>
                    <center>
                        <a asp-controller="Playlist" asp-action="Details" asp-route-id="@item.Id" class="gg-readme" role="button"></a>
                    </center>
                </td>
                <td>
                    <center>
                        <a asp-controller="Playlist" asp-action="Listen" asp-route-id="@item.Id" class="gg-play-button-o" role="button"></a>
                    </center>
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <center>
                            <a asp-controller="UserPlaylist" asp-action="Edit" asp-route-id="@item.Id" class="fa fa-edit" style="font-size:larger" role="button"></a>
                        </center>
                    </td>
                    <td>
                        <center>
                            <a asp-controller="UserPlaylist" asp-action="Delete" asp-route-id="@item.Id" class="fa fa-close" style="font-size:larger" role="button"></a>
                        </center>
                    </td>
                }
            </tr>
        }

    </tbody>
</table>
<center>
    <div class="pagination">
        <div id="paging">
            @for (int i = 1; i <= ViewBag.playlistCount; i++)
            {
                if (i % 5 == 0 || i == ViewBag.playlistCount)
                {
                    var pageNum = i / 5;
                    if (i % 5 > 0)
                    {
                        pageNum++;
                    }
                    <a id="pbtn" href="@Url.Action("Index", "Playlist", new { pageNumber = pageNum})">@pageNum</a>
                }
            }
        </div>
    </div>
</center>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
@if (User.IsInRole("Admin"))
{
    <script>window.userRole = "admin"</script>
}
else
{
    <script>window.userRole = "user"</script>
}
<script src="~/js//playlist.js"></script>
