﻿@model IEnumerable<TrackViewModel>
<link rel="stylesheet" href="~/css/player.css" />
<div class="container-player">

    <audio id="audio" preload="none" tabindex="0">
        @for (int i = 1; i <=Model.Count(); i++)
        {
            <source src="@Model.Skip(i-1).First().PreviewURL" data-track-number="@i" />
        }
        Your browser does not support HTML5 audio.
    </audio>

    <div class="player">

        <div class="large-toggle-btn">
            <i class="large-play-btn"><span class="screen-reader-text">Large toggle button</span></i>
        </div>
        <!-- /.play-box -->

        <div class="info-box">
            <div class="track-info-box">
                <div class="track-title-text"></div>
                <div class="audio-time">
                    <span class="current-time">00:00</span> /
                    <span class="duration">00:00</span>
                </div>
            </div>
            <!-- /.info-box -->

            <div class="progress-box">
                <div class="progress-cell">
                    <div class="progress">
                        <div class="progress-buffer"></div>
                        <div class="progress-indicator"></div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.progress-box -->

        <div class="controls-box">
            <i class="previous-track-btn disabled"><span class="screen-reader-text">Previous track button</span></i>
            <i class="next-track-btn"><span class="screen-reader-text">Next track button</span></i>
        </div>
        <!-- /.controls-box -->

    </div>
    <!-- /.player -->

    <div class="play-list">
        @for (int i = 1; i <= Model.Count(); i++)
        {
            <div class="play-list-row" data-track-row="@i">
                <div class="small-toggle-btn">
                    <i class="small-play-btn"><span class="screen-reader-text">Small toggle button</span></i>
                </div>
                <div class="track-number">
                    @i.ToString()
                </div>
                <div class="track-title">
                    <a  style="color:orange" class="playlist-track" href="#" data-play-track="@i">@Model.Skip(i - 1).First().Title</a>
                </div>
            </div>
        }
            
        </div>
</div>
<br />
<br />
<br />
<script src="~/js/player.js"></script>