﻿@model IEnumerable<PlaylistViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="text-center">

    <h2 style="color:orange">Our Top Rated Playlists</h2> <br />

    <table class="table table-borderless" style="background-color: rgba(0, 0, 0, 0.6);">
        <thead>
            <tr>
                <th><b>Title</b></th>
                <th><b>Average Rank</b></th>
                <th><b>Total Playtime</b></th>
                <th><b>Genres</b></th>
                <th><b>Details</b></th>
                <th><b>Play</b></th>
                @if (User.IsInRole("Admin"))
                {
                    <th><center><b>Edit</b></center></th>
                    <th><center><b>Delete</b></center></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="border: 0 none;">
                    <td>
                        <i>@Html.DisplayFor(modelItem => item.Title)</i>

                    </td>

                    <td>
                        <i>@Html.DisplayFor(modelItem => item.AverageRank)</i>
                    </td>
                    <td>
                        <i>@Html.DisplayFor(modelItem => item.TotalDuration) mins</i>
                    </td>
                    <td>
                        <i>@Html.DisplayFor(modelItem => item.Genres)</i>
                    </td>
                    <td>
                        <center>
                            <a asp-controller="Playlist" asp-action="Details" asp-route-id="@item.Id" class="gg-readme" role="button"></a>
                        </center>

                    </td>
                    <td>
                        <center>
                            <a asp-controller="Playlist" asp-action="Listen" asp-route-id="@item.Id" class="gg-play-button-o" role="button"></a>
                        </center>
                    </td>

                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <a asp-controller="UserPlaylist" asp-action="Edit" asp-route-id="@item.Id" class="fa fa-edit" style="font-size:larger" role="button"></a>
                        </td>
                        <td>
                            <a asp-controller="UserPlaylist" asp-action="Delete" asp-route-id="@item.Id"class="fa fa-close" style="font-size:larger" role="button"></a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <p>
        <a asp-controller="UserPlaylist" asp-action="Create" class="btn btn-outline-warning" role="button">Generate your own playlist</a>
    </p>
    <br />
    <h5 style="color:orange;font-style:normal">Enjoy your ride, and don't forget:</h5>
    <h5 style="color: orange;font-style:normal">"Keep your eyes on the road, your hands upon the wheel &#9835;&#9835;"</h5>
    <br />
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="6"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="7"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="8"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./Images/carousel-1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./Images/carousel-2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./Images/carousel-3.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./Images/carousel-4.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./Images/carousel-5.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./Images/carousel-6.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./Images/carousel-7.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="./Images/carousel-8.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
